* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

header {
  background-image: url(./Samar/pic2.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.header-nav {
  width: 100%;
  height: 130px;
  /* background: bisque; */
  display: flex;
  justify-content: center;
}
.header-item {
  width: 80%;
  height: 100%;
  /* background: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-list {
  display: flex;
  margin-right: 200px;
}
.header-list li {
  list-style: none;
}
.header-list li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  /* transition: all 1s;   */
}
.header-list i {
  font-size: 0.6rem;
  margin-right: 30px;
}
.header-item .button {
  position: absolute;
  /* margin-left: 80px; */

  right: 0;
}
.button button {
  width: 160px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border: none;
  color: white;
  font-size: 0.9rem;
  background-size: 200%;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
}
.button button:hover {
  background-position: right center;
  color: white;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

.header-list ul li:hover {
  color: #f55f8d;
}
.header-list ul a:hover {
  color: #f55f8d;
}
.header-list li:hover a {
  animation: upToDown 0.3s;
}
.header-list li a {
  display: inline-block;
}

.freelance {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  /* background: red; */
  margin-top: 120px;
}
.freelance-item {
  width: 80%;
  /* padding: 0 120px; */
  /* position: relative; */
  height: 100%;
  /* background: blue; */
  display: flex;
}
.freelance-box {
  width: 50%;
  height: 100%;
  /* background: burlywood; */
}
.freelance-list h4 {
  color: #f55f8d;
  font-size: 1.4rem;
}
.freelance-list h1 {
  font-size: 4rem;
  margin: 20px 0;
}
.freelance-list p {
  margin-bottom: 20px;
  color: #636363;
  font-size: 1.2rem;
}

.freelance-icon {
  position: relative;
  width: 300px;
  /* background: chartreuse; */
  margin: 30px 0;
}
.check {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 101%,
    #f55f8d 100%
  );
}
.check i {
  font-size: 1.4rem;
  color: white;
}
.text {
  position: absolute;
  right: 0;
  top: 10px;
  display: block;
  margin-right: 20px;
}
.text span {
  font-size: 1.2rem;
  color: #636363;
}
.start button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  font-size: 1rem;
  transition: 0.5s;
  background-size: 200%;
}
.start button:hover {
  background-position: right center;
}

.freelance-img {
  position: absolute;
  right: 30px;
  top: -80px;
  display: block;
}
/* .freelance-img img {
  height: 620px;
} */
/* SERVICES */
.services {
  /* padding: 200px 0; */
  margin-top: 360px;
  width: 100%;
  height: 100vh;
  background-image: url(./Samar/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
}
.services-box {
  width: 80%;
  height: 100%;
  /* border: 1px solid red; */
}
.services-text {
  margin-bottom: 80px;
  text-align: center;
}
.services-text h4 {
  color: #f55f8d;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.services-text h1 {
  font-size: 4rem;
}

.services-flex {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
}
.services-item {
  width: 30%;
  height: 100%;
  padding: 0 20px;
  /* height: 100%; */
  /* background: bisque; */
  transition: all ease-in 0.5s;
}
.services-item:hover {
  transform: translateY(-60px);
}

.services-bg {
  width: 100%;
  /* height: 100%; */
  /* display: flex; */
  padding: 30px 0;
  /* justify-content: center; */
  text-align: center;
  background: white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
}
/* .services-img {
  padding: 20px;
} */
.services-img img {
  width: 250px;
}
.services-list h4 {
  color: #636363;
}
.services-list h2 {
  margin-bottom: 20px;
}
/* @keyframes services {
    form {
    transform: translateY(0);
    }
    to {
     transform: translateY(100px);
    }
} */

/* WEBSITE */
.website {
  background-image: url(./Samar/bg15.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* background: red; */
}
.website-box {
  width: 90%;
  /* background: bisque; */
  display: flex;
}
.website-img img {
  width: 700px;
  height: 90%;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  margin-right: 80px;
}
.website-list h4 {
  color: #f55f8d;
  font-size: 1.5rem;
}
.website-list h1 {
  font-size: 4.2rem;
  margin: 10px 0;
}
.website-list p {
  font-size: 1.2rem;
  color: #636363;
  margin-bottom: 20px;
}
.website-icon-item {
  display: flex;
  margin-bottom: 20px;
}
.website-icon-item .icon-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f55f8d;
  margin-right: 20px;
  /* margin: 10px 0; */
  border: 2px solid #f55f8d;
}
.website-icon-item p {
  color: #636363;
}
.button-website button {
  width: 150px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  height: 50px;
  transition: 0.5s;
}
.button-website button:hover {
  background-position: right center;
}

/* NUMBER  */
.number {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(./Samar/bg14.png);
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.number-box {
  width: 80%;
  display: flex;
  justify-content: center;
}
.number-project {
  width: 20%;
  height: 400px;
  text-align: center;
  padding: 100px 0;
  margin: 0 30px;
}
.number-icon-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.number-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 100%,
    #f55f8d 100%
  );
  /* border: 1px #f55f8d solid; */
  margin-bottom: 5px;
}
.number-icon i {
  color: #ffff;
  font-size: 3rem;
  /* font-weight: 100; */
}

.number-project span {
  font-size: 4rem;
  color: #f55f8d;
  font-weight: 900;
  margin-bottom: 10px;
}
.number-project p {
  margin-top: 5px;
  font-size: 1.2rem;
}
.number-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-text h2 {
  color: #f55f8d;
  font-size: 3rem;
  margin-left: 10px;
}
/* END NUMBER */

/* BEHIND */
.behind {
  width: 100%;
  display: flex;
  margin-top: 80px;
  justify-content: right;
  background-image: url(./Samar/bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.behind-container {
  width: 90%;
  /* background: bisque; */
  display: flex;
}
.behind-one {
  width: 50%;
  /* height: 100%; */
}
.behind-one h3 {
  color: #f55f8d;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.behind-one h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.idea {
  width: 550px;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all ease-in 0.3s;

  /* opacity: 0; */
}
.idea:hover {
  color: white;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 100%,
    #f55f8d 100%
  );
}
.idea-2:hover {
  color: white;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 100%,
    #f55f8d 100%
  );
}
.idea-3:hover {
  color: white;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 100%,
    #f55f8d 100%
  );
}
.idea-2:hover .idea-icon i {
  color: white;
}
.idea-3:hover .idea-icon i {
  color: white;
}
.idea:hover .idea-icon i {
  color: white;
}
.idea-2 {
  width: 550px;
  border-radius: 10px;
  background: bisque;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 40px 0 40px 120px;
  transition: all ease-in 0.3s;
}
.idea-3 {
  width: 550px;
  border-radius: 10px;
  background: bisque;
  display: flex;
  background: #ffff;
  justify-content: center;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all ease-in 0.3s;
}
.idea-icon i {
  font-size: 4rem;
  margin-right: 30px;
  color: #f55f8d;
  transition: all ease-in 0.8s;
}
.idea-text h2 {
  margin-bottom: 10px;
}
.behind-container-img img {
  width: 600px;
  animation: move2 5s infinite;
}
.behind-container-img {
  padding: 60px 0;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* END BEHIND */

/* WORK */
.work {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.work-container {
  width: 80%;
  /* height: 100%; */
  /* background: bisque; */
}
.work-text {
  width: 100%;
  text-align: center;
}
.work-text h4 {
  color: #f55f8d;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.work-text h1 {
  font-size: 3rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;

  gap: 35px;
}
.grid-img img {
  width: 100%;
  /* position: relative; */
}
.img-grid1 {
  grid-column: 1 / span 2;
}
.img-grid5 {
  grid-column: 1 / span 2;
}
.img-grid6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.grid-before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(120, 120, 120, 0.4);
  opacity: 0;
  transition: all ease-in 0.3s;
}
.grid-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 100%,
    #f55f8d 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
}
.grid-text {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.grid-text h3 {
  color: white;
}
.grid-text h4 {
  color: #636363;
  font-weight: 100;
}
.grid-img {
  position: relative;
}
.grid-img:hover .grid-before {
  opacity: 1;
}
.grid-img img::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.grid-img img:hover::before {
  left: 125%;
}

/* END WORK */

/* PLAN */
.plan {
  margin-top: 200px;
  width: 100%;
  background-image: url(./Samar/bg16.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.plan-corntaine {
  width: 80%;
}
.plan-text {
  text-align: center;
}
.plan-text h4 {
  color: #f55f8d;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.plan-text h1 {
  font-size: 4rem;
  margin-bottom: 40px;
}
.plan-all {
  width: 350px;
  padding: 0 20px;
}
.plan-bg {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all ease 0.3s;
}
.plan-basic {
  width: 100%;
  padding: 0px 20px;
  text-align: center;
  border-bottom: 1px solid #cacaca;
}
.plan-basic-img img {
  width: 100px;
}
.plan-basic p {
  font-weight: bold;
  font-size: 1.2rem;
}
.plan-list {
  display: flex;
  padding: 10px 30px;
}
.plan-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #feeff3;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.plan-icon i {
  color: #f55f8d;
  font-size: 0.8rem;
}

.plan-button {
  padding: 10px 0;
}
.plan-button button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  background-size: 200%;
  transition: all ease-in 0.3s;
}
.plan-box {
  display: flex;
}
.plan-button button:hover {
  background-position: right center;
}
.plan-bg:hover {
  border: 3px #f8ae56 dashed;
}
/* END PLAN */

/* swipe */
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

/* blog */

.blog {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("https://cybersamar.vercel.app/img/bg16.png");
  /* background-position: center; */
  background-size: cover;

  background-repeat: no-repeat;
}
.blog-container {
  width: 80%;
  margin-top: 100px;
}
.blog-contai-text {
  width: 100%;
  text-align: center;
}

.blog-contai-text h4 {
  color: #f55f8d;
  margin-bottom: 40px;
  font-size: 1.4rem;
}
.blog-contai-text h1 {
  font-size: 3rem;
  font-weight: 700;
}
.container-slider {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.slider-box {
  width: 25%;
  padding: 0 10px;
}
.slider-item {
  width: 100%;
  background: rgba(245, 95, 141, 0.1);
}
.slider-img img {
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.slider-text span {
  font-size: 1.4rem;
  font-weight: 700;
  /* margin-bottom: 80px; */
}
.slider-text {
  padding: 30px 10px;
  border-bottom: 1px solid #cacaca;
}
.slider-icon {
  padding: 10px 10px;
}
.slider-icon {
  font-size: 0.7rem;
  display: flex;
}
.slider-icon-box {
  margin: 0 10px;
}
.slider-img-position {
  position: absolute;
  content: "";
  display: block;
  width: 120px;
  height: 30px;
  z-index: 1;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  bottom: -10px;
  left: 10px;
  border-radius: 8px;
  /* top: 0px; */
}
.slider-img {
  position: relative;
}
.slider-img-position {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

/* input */

.input {
  width: 100%;
  display: flex;
  margin-top: 100px;

  justify-content: center;
}
.input-container {
  width: 80%;
}
.input-bk {
  padding: 40px 80px;
  background-image: url("https://cybersamar.vercel.app/img/pattern3.png");
  background-position: center;
  background-size: cover;

  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);

  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
.input-text {
  font-size: 1.6rem;
  color: black;
  font-weight: 700;
}
.input-box input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #f55f8d;
}
.input-box {
  position: relative;
}
.input-color {
  position: absolute;
  width: 50px;
  height: 100%;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input i {
  transform: rotate(40deg);
}
@keyframes arrow {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
.input-color:hover i {
  animation: arrow 0.3s;
}
.other {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("https://cybersamar.vercel.app/img/bg4.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
}
.other-container {
  width: 80%;
  display: flex;
  padding: 200px 0;
}
.other-one {
  width: 200px;
  height: 100%;
}
.other-one img {
  width: 150px;
}
.other-sdt {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 20px 0;
}

.other-icon {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  height: 30px;
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
  margin-right: 15px;
}
.other-phone {
}
.other-one-after h4::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 10px;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  position: absolute;
  bottom: 0;
}
.other-one-after {
  position: relative;
  height: 30px;
  margin-bottom: 20px;
}

.other-one-after h4 {
  font-size: 1.2rem;
  color: white;
}
.other-one-after h4::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background: linear-gradient(
    to right,

    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  bottom: 0;
  left: 20px;
}
.other-home {
  margin: 10px 0;
}
.other-home p i {
  color: #636363;
  font-size: 0.8rem;
}
.other-home p {
  color: #636363;
}

.one {
  margin-right: 60px;
}
.two {
  margin-right: 150px;
}
.three {
  margin-right: 60px;
}
.other::before {
  content: "";
  background-image: url("https://cybersamar.vercel.app/img/pattern2.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.other {
  position: relative;
  /* margin-top: 100px; */
  /* top: -20px; */
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #1f343b;
}
.footer-container {
  width: 80%;
  display: flex;
  padding-right: 120px;
  justify-content: space-between;
}
.icon-footer {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
  border-radius: 50%;
}
.footer-icon {
  display: flex;
}
